<h2>Edit</h2>

<%= form_with url: chat_group_path(@chat_group), model: @chat_group, method: :patch do |f| %>
  <%= f.label :chat_group_name %>
  <%= f.text_field :chat_group_name, class: "w-50" %>
  <%= f.label :chat_group_description %>
  <%= f.text_area :chat_group_description, rows: 5, class: "w-50" %>
  <%= f.submit "Update" %>
<% end %>

<%= link_to "クラン一覧に戻る", chat_group_path %>