<div class="mx-auto">
  <div class="text-center">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <%= form_with model:@user, local:true do |f| %>
      <div class="field m-3">
        <%= f.label :image %><br>
        <%= f.attachment_field :image %>
      </div>
      <div class="field m-3">
        <%= f.label :nickname, "Nickname" %><br />
        <%= f.text_field :nickname, autofocus: true, class: "w-50" %>
      </div>
      <div class="field m-3">
        <%= f.label :profile %><br />
        <%= f.text_area :introduction, rows: 5, class: "w-50" %>
      </div>
      <div class="field m-3">
        <%= f.label :main_gun %><br />
        <%= f.text_field :main_gun, class: "w-50" %>
      </div>
      <div class="field m-3">
        <%= f.label :sub_gun %><br />
        <%= f.text_field :sub_gun, autofocus: true, class: "w-50" %>
      </div>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-warning mb-4" %>
      </div>
    <% end %>
    <%= link_to "log out", destroy_user_session_path, class:"btn m-5 text-light", method: :delete %>
    <div class="m-3">
      <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "退会する", users_path(current_user), method: :DELETE, "data-confirm" => "本当に退会しますか？" %>
      <% end %>
    </div>

  </div>
</div>

