<div class="container">
  <div class="mx-auto">
    <div class="text-center m-4">
      <h2>Followers</h2>
    </div>
    <% if @user.followers.present? %>
      <div class="row">
        <% @users.each do |user| %>
        <div class="col-md-6">
          <div class="row mr-1 mb-2 border-top">
            <div class="col-3">
              <%= link_to user_path(user) do %>
                <%= attachment_image_tag user, :image, class: "index_plofile_image mt-1", fallback: "logo.png" %>
              <% end %>
            </div>
            <div class="col-5">
              <h4><%= link_to user.nickname, user_path(user) %></h4>
              フォロー(<%= user.followings.count %>人)<br>
              フォロワー(<%= user.followers.count %>人)
            </div>
            <div class="col-xs-4 followings_btn">
            <% if current_user.following?(user) %>
              <%= link_to "Message", chat_path(user.id), class: "btn btn-dark mb-2 mr-2 w-100" %>
            <% end %>
            <%= render 'relationships/follow_button', user: user %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center">フォロワーがいません</div>
    <% end %>

  </div>
</div><!--container-->