<div class="mx-auto" style="width: 800px;">
  <div class="col text-center m-4">

    <%= search_form_for @q do |f| %>
      <%= f.search_field :nickname_cont, placeholder: "ユーザー名で検索" %> <!--_contは検索ワードを含むデータの取得-->
      <%= f.submit "検索" %>
    <% end %>
  </div>
<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
    <div class="col-md-6">
      <div class="row mt-3">
        <div class="col-3">
          <%= attachment_image_tag user, :image, class: "index_plofile_image m-1", fallback: "no_profile.jpg" %>
        </div>
        <div class="col-9 border-top">
          <%= link_to user.nickname, user_path(user), class: "h4 text-light" %><br>
            main-<%= user.main_gun %>/
            sub-<%= user.sub_gun %><br>
            followings<%= user.followings.count %>/
            followers<%= user.followers.count %>
        </div>
      </div>
    </div>
    <% end %>
    </div>
</div><!--container-->





</div>