<div class="container">
  <div class="mx-auto">
    <div class="text-center m-4">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :nickname_or_introduction_or_main_gun_or_sub_gun_cont,
          placeholder: "Name or Word", class: "w-50" %> <!--_contは検索ワードを含むデータの取得-->
        <%= f.submit "Search" %>
      <% end %>
      </div>

      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-6">
            <div class="row mt-3">
              <div class="col-3">
                <%= link_to user_path(user) do %>
                  <%= attachment_image_tag user, :image, class: "index_plofile_image m-1", fallback: "logo.png" %>
                <% end %>
              </div>
              <div class="col-9 border-top">
                <%= link_to user.nickname, user_path(user), class: "h4" %><br>
                  main-<%= user.main_gun %>/
                  sub-<%= user.sub_gun %><br>
                  followings<%= user.followings.count %>/
                  followers<%= user.followers.count %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div><!--container-->