<div class="mx-auto" style="width: 900px;">
  <div class="text-center">

    <h2>HOME</h2>
      <div class="text-right"><%= link_to image_tag("icon5.png", :size => "25x25"), edit_user_path(current_user), class:"m-2" %></div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

  </div>
</div>

<% if current_user != @user %>
  <%= link_to 'チャットする', chat_path(@user.id) %>
<% end %>

<div class="container">
  <h3 class="text-center">お気に入りフィールド</h3>
<div class="row">
  <% @fields.each do |field| %>
    <div class="col-xs-3">
      <div class="card m-1">
        <div class="card-header">
          <%= attachment_image_tag field, :image, :size => '160x100', fallback: "no_image.jpg" %>
        </div>
        <div class="card-body">
         <%= link_to field.name, field_path(field) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <h3 class="text-center">いいね登録写真</h3>
  <div class="row">
    <% @pictures.each do |picture| %>
      <% @posts.each do |post| %>
      <%= attachment_image_tag picture, :image, :size => '150x150', class: "m-1" %>
      <% end %>
    <% end %>
  </div>
</div>