<div class="mx-auto">
  <div class="container message">

    <h3 class="text-left border-bottom m-3"><%= @user.nickname %></h3>
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <p class="text-right mr-3"><%= chat.message %></p>
      <% else %>
        <p class="text-left ml-3"><%= chat.message %></p>
      <% end %>
    <% end %>
  </div>

    <div class="text-right message_box">
      <%= form_with model: @chat do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
      <% end %>
    </div>
</div>