<div class="mx-auto" style="width: 800px;">
  <div class="col text-center">
    <%= image_tag "about.JPG", :size => "700x400" %>
    <h3>「サバイバルゲーム」とは？</h3>
      <p>サバイバルゲームはエアソフトガンを使用して撃ちあう、いわば大人の戦争ごっこです。<br>
      サバゲー、サバゲとも略します。</p>
      <%= image_tag "about6.JPG", :size => "300x200" %>
      <%= image_tag "about7.JPG", :size => "300x200" %>
    <h3>遊び方・ルール</h3>
      <p>遊び方は、フィールドと呼ばれる戦闘エリア内で、敵味方の2チームに分かれ、<br>
      両陣にある敵の旗(フラグ)を取り合うのがもっとも一般的で、いわば陣取りゲームといった感じです。<br>
      弾が当たったらそのプレーヤーは被弾(ヒット)した旨を自己申告(ヒットコール)し戦線離脱、<br>
      セフティゾーンと呼ばれるフィールドの外へ退場します。<br>
      フィールド会場によってもルールは様々ですが、<br>
      1ゲーム10～15分程度で、制限時間内にどちらかがフラグゲットするか、<br>
      チーム全員がヒットされ全滅するとゲームは終了します。</p>
      <%= image_tag "hit.JPG", :size => "300x200" %>
      <%= image_tag "me.JPG", :size => "300x200" %>

    <h3>サバゲーに必要なもの</h3>
      <p>サバゲーを行う上で最低限必要なのは「エアガン」「ゴーグル」「肌の露出しない服装」の<br>
      たった3つだけです。目を守るゴーグルについてですが、<br>
      ただのゴーグルは割れる可能性があるので、サバゲー専用のゴーグルを用意しましょう。<br>
      あとは歯を守るフェイスマスクがあると安心です。</p>
      <%= image_tag "about4.JPG", :size => "300x200" %>
      <%= image_tag "about5.JPG", :size => "300x200" %>
    <h3>HELLO SURVIVAL活用方法</h3>
      <p>フィールド選びの際に、リアルなランキングを参考にできます。<br>
      かつ、当日のゲーム中の写真が探しやすく、<br>
      会員はいいね登録することでマイページに保存ができるので、<br>
      サバゲー専用アルバムとしてもご活用いただけます。</p>
      <%= image_tag "about2.JPG", :size => "300x200" %>
      <%= image_tag "about3.JPG", :size => "300x200" %>
  </div>
</div>