<div class="mx-auto">
  <div class="container">

    <h3 class="text-left border-bottom m-3"><%= @chat_group.chat_group_name %></h3>
    <h4><%= @chat_group.chat_group_description %></h4>

    <div id="joins_buttons_<%= @chat_group.id %>">
      <%= render 'joins/join', chat_group: @chat_group, group_chats: @group_chats, group_chat: @group_chat %>
    </div>

    <div class="d-flex justify-content-center">
      <%= paginate @group_chats %>
    </div>

  </div>
</div>