<div class="mx-auto">

    <h3 class="text-left border-bottom m-3"><%= @chat_group.chat_group_name %></h3>
    <p id="score" class="text-right mr-3">団結度[<%= @group_chats.all.sum(:score) %>％]</p>
    <h4 class="h6 text-center"><%= @chat_group.chat_group_description %></h4>
    <div class="d-flex justify-content-center">
      <% @chat_group.joins.each do |member| %>
        <div class="text-center m-2">
          <%= link_to user_path(member.user)do %>
            <%= attachment_image_tag member.user, :image, class: "group_chat_profile_image", fallback: "logo.png" %>
            <div class="group_chat_profile_name">
              <%= member.user.nickname %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="joins_buttons_<%= @chat_group.id %>">
      <%= render 'joins/join', chat_group: @chat_group, group_chats: @group_chats, group_chat: @group_chat %>
    </div>

    <div class="d-flex justify-content-center">
      <%= paginate @group_chats %>
    </div>

</div>