<div class="mx-auto">

 <div class="text-center">
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>


  <div class="text-center">
    <h2>Infomation
      <% if field_signed_in? %>
        <%= link_to image_tag("icon3.png", :size => "25x25"), new_infomation_path %>
      <% end %>
    </h2>
  </div>

  <div class="container">
    <% @infomations.each do |infomation| %>
    <div class="row align-items-center mt-3 border-top">
      <div class="col-md-3 h5">
        <%= link_to infomation.field.name, field_path(infomation.field) %>
      </div>
      <div class="col-md-6 index_infomation_body mt-3">
        <h4><%= link_to infomation.title, infomation_path(infomation) %></h4>
        <%= infomation.body %>
      </div>
      <div class="col-md-3">
        <%= link_to "#{infomation.infomation_comments.count} コメント", infomation_path(infomation.id) %>
      </div>
    </div>
    <% end %>
  </div>

</div>