<div class="col vh-100">
  <div class="mx-auto" style="width: 340px;">
    <div class="col text-center bg-light">

    <h2>フィールド登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "fields/shared/error_messages", resource: resource %>

      <div class="field m-3">
        <%= f.label :name, "フィールド名" %><br />
        <%= f.text_field :name, autofocus: true, class: "w-100" %>
      </div>

      <div class="field m-3">
        <%= f.label :Eメール %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %>
      </div>

      <div class="field m-3">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-100" %>
      </div>

      <div class="field m-3">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-warning text-center w-100 mb-4" %>
      </div>
    <% end %>

     <div class="text-center bg-light mt-20 border-top">
      <p>登録がまだの方はこちら</p>
        <div class="col text-center">
          <%= render "fields/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>