<h2>Fields#edit</h2>
<%= form_with model: @field, local: true do |f| %>
  <div class="field">
    <%= f.label :name, "フィールド名" %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.label :image, "フィールドイメージ" %><br>
    <%= f.attachment_field :image %>
  </div>
  <div class="field">
    <%= f.label :address, "フィールド住所" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :introduction, "フィールド説明（300文字以内）" %><br>
    <%= f.text_area :introduction %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
