<h1>Fields#index</h1>
<%# attachment_image_tag @field, :image, size: "300x180" %>
<% @field.each do |f| %>
<%= f.name %>
<%= f.address %>
<%= f.introduction %>
<% end %>

  <% if @fields.favorited_by?(current_user) %> <!--favorited_by → fieldモデルに定義-->
    <p>
      <%= link_to field_field_favo_path(@field), method: :delete do %>
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to field_field_favos_path(@field), method: :post do %>
        ♡<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>