<div class="col vh-100">

<% @field.each do |field| %>
  <%= link_to field.name, field_path(field) %><br>
  <div class="d-flex flex-row bd-highlight mb-2 bg-light">
  <%= attachment_image_tag field, :image, :size => '250x150' %>
  <%= field.address %><br>
  <%= field.introduction %><br>

  <div id="favorites_buttons_<%= field.id %>">
    <%= render partial: 'favorites/favorite', locals: { field: field } %>
  </div>
  </div>
<% end %>


</div>