<div class="col vh-100">
  <h2>mypage</h2>
  <%= @field.name %>様<br>
  <%= attachment_image_tag @field, :image, size: "300x180" %><br>
  <%= @field.introduction %><br>
  <%= @field.address %><br>

  <%= link_to "情報編集", edit_field_path %>
</div>
