<div class="mx-auto" style="width: 800px;">
  <div class="col text-center">

    <h2>RANKING</h2>

    <% @all_ranks.each.with_index(1) do |field, i| %>
        <h3>第<%= i %>位</h3>
        <%= link_to field.name, field_path(field), class: "text-light h2" %><br>
        <%= attachment_image_tag field, :image, fallback: "no_image.jpg", :size => '500x250', fallback: "no_image.jpg" %><br>
        <%= simple_format(field.introduction) %>
        <div id="favorites_buttons_<%= field.id %>">
          <%= render partial: 'favorites/favorite', locals: { field: field } %>
        </div>
    <% end %>

    <%= link_to '全てのフィールドをみる', fields_path %>
  </div>
</div>
