<div class="mx-auto" style="width: 800px;">
  <div class="col text-center">
    <h2>
      <%= @field.name %>
      <% if current_field == @field %>
          <%= link_to image_tag("icon5.png", :size => "25x25"), edit_field_path(current_field), class:"m-2" %>
      <% end %>
    </h2>

    <div id="favorites_buttons_<%= @field.id %>">
      <%= render 'favorites/favorite', field: @field %>
    </div>

    <%= attachment_image_tag @field, :image, :size => '760x400'%><br>
    住所：<%= @field.address %><br>
    <%= simple_format(@field.introduction) %>
  </div>


<div class="container text-center">
  <h3 class="text-center">
    Infomation
    <% if current_field == @field %>
    <%= link_to image_tag("icon3.png", :size => "25x25"), new_infomation_path %>
    <% end %>
  </h3>

    <% @infomations.each do |infomation| %>
        <%=  %>
        <%= link_to infomation.title, infomation_path(infomation) %><br>
    <% end %>
</div>

<div class="container">
  <h3 class="text-center">
    Photo
    <% if current_field == @field %>
        <%= link_to image_tag("icon3.png", :size => "25x25"), new_post_path %>
    <% end %>
  </h3>
  <div class="row">
  <% if @field.posts.present? %>
    <% @posts.each do |post| %>
      <div class="mt-2">
        <%= post.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div>
          <% post.pictures.each do |picture| %>
            <%= link_to post_picture_path(post, picture) do %>
              <%= attachment_image_tag picture, :image, :size => '100x100', class: "mb-1" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% else %>
        投稿写真はありません。
      <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>
</div>