<div class="mx-auto">
  <div class="text-center">

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>


<!----------field画像、名前--------------->
    <h2>
      <%= @field.name %>
      <% if current_field == @field %>
        <%= link_to "編集", edit_field_path(current_field), class:"m-2" %>
      <% end %>
    </h2>

    <div id="favorites_buttons_<%= @field.id %>">
      <%= render 'favorites/favorite', field: @field %>
    </div>

    <%= attachment_image_tag @field, :image, :size => '760x400', fallback: "no_image.jpg"%><br>
    <%= simple_format(@field.introduction) %>
    住所：<%= @field.address %><br>
  </div>

<!--------------GoogleMap------------------->
  <script type="text/javascript">
    function initMap() {
    // latitude,longitudeから位置を特定
      var test ={lat: <%= @field.latitude %>, lng: <%= @field.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: test
                });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '住所：<%= @field.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

    // Map上の指定した位置にピンを挿して表示する
      var marker = new google.maps.Marker({
                    position:test,
                    map: map,
                    title: contentString
                   });

       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
    }
  </script>

  <script async defer
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>
  <div id="map" style='height: 250px; width: 60%;' class="mx-auto"></div>

<!----------------Infomation-------------->
  <div class="container text-center field_show_main">
    <h3>
      Infomation
      <% if current_field == @field %>
      <%= link_to image_tag("icon3.png", :size => "25x25"), new_infomation_path %>
      <% end %>
    </h3>
    <% if @field.infomation.present? %>
      <% @infomations.each do |infomation| %>
          <%= link_to infomation.title, infomation_path(infomation) %><br>
      <% end %>
      <% else %>
      <div class="text-center">No Infomation</div>
    <% end %>
  </div>
</div>

<!--------------写真一覧-------------------->

  <div class="container">
    <h3 class="text-center">
      Photo
      <% if current_field == @field %>
          <%= link_to image_tag("icon3.png", :size => "25x25"), new_post_path %>
      <% end %>
    </h3>

    <% if @field.posts.present? %>
      <% @posts.each do |post| %>
        <div class="m-2 text-center">
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>
          <div class="row field_photo">
            <% post.pictures.each do |picture| %>
            <div class="col-sx-2">
                <div class="photo">
                <%= link_to post_picture_path(post, picture) do %>
                  <%= attachment_image_tag picture, :image, :size => "120x100", class: "mb-2" %>
                </div>
            </div>
              <% end %>
            <% end %>
          </div>
          <% end %>

        <div class="d-flex justify-content-center">
          <%= paginate @posts %>
        </div>
    <% else %>
      <div class="text-center">No Photo</div>
    <% end %>
  </div>
