<div class="col vh-100">
  <h2>Fields#show</h2>

  <%= attachment_image_tag @field, :image, :size => '700x500' %>
  <%= @field.name %>
  <%= @field.address %>
  <%= @field.introduction %>

  <div id="favorites_buttons_<%= @field.id %>">
    <%= render 'favorites/favorite', { field: @field } %>
  </div>

</div>
