<!DOCTYPE html>
<html>
  <head>
    <title>HelloSurvival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title d-flex align-items-center justify-content-center">
        <%= link_to "HELLO SURVIVAL", root_path, class:"text-light mt-40" %>
      </h1>
    <div class="d-flex align-items-center justify-content-center">
    <% if field_signed_in? %>
    <ul class="nav pull-right nav-pills">
      <li>
        <%= link_to "my page", mypage_field_path(current_field), class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "my field", field_path(current_field), class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "pictures", post_path(current_field), class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "lanking", fields_path, class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "log out", destroy_field_session_path, class:"btn btn-outline-light m-3", method: :delete %>
      </li>
    <% elsif user_signed_in? %>
      <li>
        <%= link_to " just started", homes_about_path, class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "field ranking", fields_path, class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "my page", user_path(current_user), class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "log out", destroy_user_session_path, class:"btn btn-outline-light m-3", method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to " just started", homes_about_path, class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "field ranking", destroy_user_session_path, class:"btn btn-outline-light m-3", method: :delete %>
      </li>
      <li>
        <%= link_to "sign up", new_user_registration_path, class:"btn btn-outline-light m-3" %>
      </li>
      <li>
        <%= link_to "log in", new_user_session_path, class:"btn btn-outline-light m-3" %>
      </li>
        <%= link_to "field log in", new_field_session_path, class:"btn btn-outline-light m-3" %>
    </ul>
    <% end %>
    </div>
    </header>
    <main style="min-height: 100vh;">
      <div class="container">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
    </main>
    <footer class="d-flex align-items-center justify-content-center text-light">
      © 2021 iijima inc.
    </footer>
  </body>
</html>
