<!DOCTYPE html>
<html>
  <head>
    <title>Hello Survival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <input id="menu" type="checkbox"/>
    <label for="menu" class="open"><%= image_tag "menu.png", class: "m-2"%></label>
    <label for="menu" class="back"></label>

    <aside>
      <label for="menu" class="close"><%= image_tag "close.png", class: "m-2"%></label>
      <div class="sidebar">

        <nav>
          <% if field_signed_in? %>
            <%= link_to root_path do %>
              <%= image_tag "main_logo.png", :size => "70x70" %>
               Hello Survival
            <% end %>
            <div class="text-center m-3">
              <%= link_to field_path(current_field) do %>
                <%= attachment_image_tag current_field, :image, :size => "100x70", fallback: "no_image.jpg" %><br>
                <%= current_field.name %><br>
              <% end %>
            </div>
            <div class="text-center mb-5">
              <%= link_to "プロフィール編集", edit_field_path(current_field) %><br>
              <%= link_to "新規投稿", new_infomation_path %><br>
              <%= link_to "当日写真追加", new_post_path %>
            </div>
            <ul>
              <li class="list_item">
                <%= link_to "フィールド情報一覧", infomations_path, class:"m-3 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "フィールド一覧", fields_path, class:"m-3 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "フィールドランキング", fields_ranking_path, class:"m-3 w-100" %>
              </li>
            </ul>
          <% elsif user_signed_in? %>
            <%= link_to root_path do %>
              <%= image_tag "main_logo.png", :size => "70x70" %>
              Hello Survival
            <% end %>
            <div class="text-center m-5">
              <%= link_to user_path(current_user) do %>
                <%= attachment_image_tag current_user, :image, class:"sidebar_plofile_image", fallback: "logo.png" %><br>
                <%= current_user.nickname %><br>
              <% end %>
              <%= link_to "フォロー(#{current_user.followings.count}人)", followings_user_path(current_user.id), class:"m-2 w-100" %><br>
              <%= link_to "フォロワー(#{current_user.followers.count}人)", followers_user_path(current_user.id), class:"m-2 w-100" %><br>
              <%= link_to "メッセージ", user_rooms_index_path(current_user) %>
            </div>
            <ul>
              <li class="list_item">
                <%= link_to "同行者募集", chat_groups_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "ユーザー検索", users_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "フィールド検索", fields_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "フィールドランキング", fields_ranking_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "フィールド情報", infomations_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "このサイトについて", homes_about_path, class: "m-2 w-100" %>
              </li>
            </ul>
            <% else %>
              <%= link_to root_path do %>
                <%= image_tag "main_logo.png", :size => "70x70" %>
                Hello Survival
            <% end %>            <ul>
              <li class="list_item">
                <%= link_to "Log in", homes_login_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "Sign up", homes_signup_path, class:"m-2 w-100" %>
              </li>
              <li class="list_item">
                <%= link_to "about", homes_about_path, class:"m-2 w-100" %>
              </li>
            </ul>
          <% end %>
        </nav>
        <footer>
          <p class="text-center m-5">Copyright (c) 2021 HelloSurvival</p>
        </footer>
      </div><!--sidebar-->
    </aside>
    <main>
      <script>
      $('main').hide().fadeIn('slow');
      </script>
      <%= yield %>
    </main>
  </body>
</html>
