<!DOCTYPE html>
<html>
  <head>
    <title>HelloSurvival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div >
        <%= link_to "HELLO! SURVIVAL", root_path %>
      </div>
    <% if field_signed_in? %>
    <ul class="nav pull-right nav-pills">
      <li>
        <%= link_to "マイページ", mypage_field_path(current_field) %>
      </li>
      <li>
        <%= link_to "マイフィールド", field_path(current_field) %>
      </li>
      <li>
        <%= link_to "写真一覧", pictures_path %>
      </li>
      <li>
        <%= link_to "○位", fields_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_field_session_path, method: :delete %>
      </li>
    <% elsif user_signed_in? %>
      <li>
        <%= link_to "初参戦の方", homes_about_path %>
      </li>
      <li>
        <%= link_to "フィールドランキング", fields_path %>
      </li>
      <li>
        <%= link_to "マイページ", user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "初参戦の方", homes_about_path %>
      </li>
      <li>
        <%= link_to "フィールドランキング", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
        <%= link_to "フィールドログイン", new_field_session_path %>
    <% end %>
    </ul>
    </header>
    <%= yield %>
    <footer>
      © 2021 iijima inc.
    </footer>
  </body>
</html>
