<!DOCTYPE html>
<html>
  <head>
    <title>Hello Survival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
    <li class="nav-item">
      <%= link_to image_tag("logo.png", :size => "90x90"), root_path, class: "m-2" %>
    </li>
    <% if field_signed_in? %>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to image_tag("icon7.png", :size => "25x25"), field_path(current_field), class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon6.png", :size => "25x25"), post_path(current_field), class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon3.png", :size => "25x25"), new_post_path, class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon5.png", :size => "25x25"), edit_field_path(current_field), class:"m-3" %>
      </li>
    <% elsif user_signed_in? %>
      <ul class="navbar-nav mr-auto logo">
      </ul>
      <li class="nav-item">
        <%= link_to image_tag("icon9.png", :size => "25x25"), users_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon4.png", :size => "25x25"), user_path(current_user), class:"m-2" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon4.png", :size => "25x25"), new_user_session_path, class:"m-2" %>
      </li>
    <% end %>
    </ul>
    </div>
    </header>
    <div class="top"></div> <!--スマホ用top-->
    <main style="min-height: 100vh;">
      <div class="container">
        <div class="text-right">
          <% if field_signed_in? %>
            <%= image_tag "icon10.png", :size => "20x20" %>
            <%= current_field.name %>
          <% elsif user_signed_in? %>
            <%= image_tag "icon10.png", :size => "20x20" %>
            <%= current_user.nickname %>
          <% end %>
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="d-flex align-items-center justify-content-center text-light">
      © 2021 iijima inc.
    </footer>
  </body>
</html>
