<!DOCTYPE html>
<html>
  <head>
    <title>Hello Survival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex align-items-center justify-content-center">
    <ul class="nav">
    <% if field_signed_in? %>
      <li>
        <%= link_to "top page", root_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "my page", mypage_field_path(current_field), class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "my field", field_path(current_field), class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "pictures", post_path(current_field), class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "ranking", fields_ranking_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "log out", destroy_field_session_path, class:"btn m-3 text-light", method: :delete %>
      </li>
    <% elsif user_signed_in? %>
      <li>
        <%= link_to "top page", root_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to " just started", homes_about_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "field ranking", fields_ranking_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "my page", user_path(current_user), class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "log out", destroy_user_session_path, class:"btn m-3 text-light", method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "top page", root_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to " just started", homes_about_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "field ranking", fields_ranking_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "sign up", new_user_registration_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "log in", new_user_session_path, class:"btn m-3 text-light" %>
      </li>
      <li>
        <%= link_to "field manager", new_field_session_path, class:"btn m-3 text-light" %>
      </li>
    <% end %>
    </ul>
    </div>
    <div class="top"></div> <!--スマホ用top-->
    <main style="min-height: 100vh;">
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="d-flex align-items-center justify-content-center text-light">
      © 2021 iijima inc.
    </footer>
  </body>
</html>
