<!DOCTYPE html>
<html>
  <head>
    <title>Hello Survival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand">
      <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to image_tag("logo.png", :size => "60x60"), root_path, class: "m-2" %>
        </li>
      </ul>
    <ul class="navbar-nav">
    <% if field_signed_in? %>
      <li class="nav-item">
        <%= link_to image_tag("icon10.png", :size => "25x25"), infomations_path, class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-3" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon4.png", :size => "25x25"), field_path(current_field), class:"m-3" %>
      </li>
    <% elsif user_signed_in? %>
      <li class="nav-item">
        <%= link_to image_tag("icon10.png", :size => "25x25"), infomations_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon13.png", :size => "23x23"), fields_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon9.png", :size => "25x25"), users_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon4.png", :size => "25x25"), user_path(current_user), class:"m-2" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to image_tag("icon1.png", :size => "25x25"), homes_about_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon2.png", :size => "25x25"), fields_ranking_path, class:"m-2" %>
      </li>
      <li class="nav-item">
        <%= link_to image_tag("icon4.png", :size => "25x25"), new_user_session_path, class:"m-2" %>
      </li>
    <% end %>
    </ul>
    </header>
    <main style="min-height: 80vh;">
      <%= yield %>
    </main>
    <footer class="d-flex align-items-center justify-content-center text-light">
      © 2021 iijima inc.
    </footer>
  </body>
</html>
