<div class="mx-auto">
  <div class="text-center">

    <h2>New User</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field m-3">
        <%= f.label :nickname, "ニックネーム" %><br />
        <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "w-85" %>
      </div>

      <div class="field m-3">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, placeholder: "Eメール", autocomplete: "email", class: "w-85" %>
      </div>

      <div class="field m-3">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-85" %>
      </div>

      <div class="field m-3">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-85" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-warning text-center w-85 mb-4" %>
      </div>
    <% end %>

      <div class="text-center">
        <p>登録済みの方はこちら</p>
      <div class="col text-center">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
